<!-- <div class="navbar navbar-fixed-top navbar-inverse"> -->
<!--     <div class="navbar-inner"> -->
<!--         <div class="container"> -->
<!--             <a class="brand" href="http://rudametkin.tk" style="padding-top: 6px; padding-bottom: 0px;"> rudametkin.tk</a> -->
<!--             <img class="AngularJS-small" src="http://angularjs.org/img/AngularJS-small.png">  -->

<!--             <ul class="nav"> -->
<!--                 <li class="divider-vertical"></li> -->

<!--                 <li><a href="#/home"><i class="icon-home icon-white"></i> Home</a></li> -->
<!--                 <li><a href="#/publications"> <i class="icon-home icon-white"></i> Publications -->
<!--                 </a></li> -->
<!--                 <li class="active"><a href="#/contact"><i class="icon-envelope icon-white"></i> Contact</a></li> -->
<!--             </ul> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

<div class="container-fluid">
    <div class="row-fluid">

        <div class="span3">
<!--             <img class="AngularJS-small" src="img/me.jpg"> -->
        </div>

        <div class="span3">
            <h1>Contact</h1>
            <br />
            <h3>{{contact.name}}</h3>
            <h4>Address</h4>
            <p>
                {{contact.address_1}} <br /> {{contact.address_2}} <br /> {{contact.address_3}} <br /> {{contact.address_4}} <br />
            </p>
            <p>
                <strong>Telephone:</strong> {{contact.telephone}} <br /> <strong>Email:</strong>
                {{contact.email_name}} @no_spam@ {{contact.email_domain}}_dot_{{contact.email_tl}}
            </p>
        </div>
        <div class="span2">
            <img class="AngularJS-small" src="img/me.jpg">
        </div>
    </div>
</div>